@import './src/flex';
@import './src/vars';
@import './src/mixin';
@import './src/keyframes';

// Style Mobile
@import './webDesign';

* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    color: $letters;
    background-color: $bg;
    overflow: hidden;
    
    .header {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a { 
            position: relative;
            right: 10%;
            @include icons;
        }

        code {
            display: flex;
            color: $containerCol;
            user-select: none;

            h1 {
                font-size: 1em;
            }
        }
    }

    .welcome {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about {
        height: 0;
        width: 0;
        opacity: 0;
    }

    footer {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        > span{
            @include icons;
            position: relative;
            animation: Salto 2s ease-out infinite;
        }

        .social-links {
            display: flex;
            align-items: center;

            a {
                @include icons;  
            }
        }
    }

    .codeContiner {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        user-select: none;
        z-index: 1;

        code {
            color: $codeColor;
        }
    }

    .section-show {
        opacity: 1;
    }

    .section-noShow {
        opacity: 0;
    }
}


